body {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.home2 {
    text-decoration:underline;
    color: grey;
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

h3 {
    text-align: center;
}

ul {
    text-align: center;
}

.flexbox {
    display: flex;
    flex-direction: column;
}

@media (max-width:500px) {
    p {
        text-align: justify;
        padding-left: 15px;
        padding-right: 15px;
    }

    .home {
        text-align: center;
    }
}
